/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.time-picker {
  display: flex;
  justify-content: space-between;
  width: 100%;

  input {
    width: 45%;
  }
}
